#input-box {
  width: 60%;
}

.card {
  height: 100px;
  width: 60%;
  cursor: pointer;
}

#card-image {
  height: 70px; 
  width: 70px; 
  border-radius: 50%;
}

.status {
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
}

#model-image {
  height: 100px; 
  width: 100px; 
  border-radius: 50%;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

p {
  color: #111;
  font-weight: 500;
}

i {
  color: #333;
  font-weight: 100;
  font-size: 12px;
}

@media (max-width: 1000px) {
  #input-box {
    width: 80%;
  }

  .card {
    height: 70px;
    width: 80%;
  }
  
  #card-image {
    height: 50px; 
    width: 50px; 
  }
}

@media (max-width: 780px) {
  #input-box {
    width: 90%;
  }

  .card {
    height: 60px;
    width: 90%;
  }
  
  #card-image {
    height: 40px; 
    width: 40px; 
  }
}

@media (max-width: 550px) {
  #input-box {
    width: 95%;
  }

  .card {
    height: 50px;
    width: 95%;
  }
  
  #card-image {
    height: 30px; 
    width: 30px; 
  }
}